.skills-section{
   margin:1.5em  5em;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap:6em;
}
.skills-container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:3em;

}
.skills-title{
  transition:0.3s;
    color:#B415FF;
}
.skills-title:hover{
color:white;
}
.skill img{
  height:150px;
  width:150px;
  object-fit: cover;
  border-radius:10px;
}
.skill{
  display:flex;
  flex-direction: column;
  gap:1em;
  align-items: center;
  padding:1em 1.5em;
  border:2px solid rgb(205, 201, 201);
  border-radius: 30px;
  transition:0.3s;
  cursor: pointer;
}
.skill:hover{
  border-color:#B415FF;
  transform:scale(1.1);
  background-color: rgb(86, 85, 85);
}

@media(max-width:950px){
  .skills-container{
   gap:2em;
  }

}
@media(max-width:804px){
  .skills-section{
    margin-inline:0.5em;
    
  }
  .skills-container{
    gap:1em;
    
  }
  .skill:hover{
  border-color:#B415FF;
  transform:scale(1.05);
  background-color: rgb(86, 85, 85);
}
 

}
@media(max-width:750px){
  .skills-container{
    gap:3em;
    grid-template-columns: 1fr 1fr;
    
  }
  .skill:hover{
  border-color:#B415FF;
  transform:scale(1.1);
  background-color: rgb(86, 85, 85);
}
 
}
@media(max-width:570px){
   .skills-container{
    gap:1.5em;
    grid-template-columns: 1fr 1fr;
  }
  .skill{
    gap:0.3em;
    padding:0.7em 0.7em;
  }

}

@media(max-width:463px){
   .skills-container{
    gap:1.5em;
    grid-template-columns: 1fr ;
  }
   .skill{
    gap:0.5em;
    padding:0.8em 1em;
  }
   .skill img{
    height:180px;
    width:180px;
   }

}
@media(max-width:370px){
   .skills-section{
    gap:4em;
    margin-top:0.5em;
   }
   .skill{
    gap:0.3em;
    padding:0.8em 0.8em;
  }
   .skill img{
    height:170px;
    width:170px;
   }
    .skill:hover{
  border-color:#B415FF;
  transform:scale(1.05);
  background-color: rgb(86, 85, 85);
}
 
}