.about-section{
   margin:1.5em  5em;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap:4em;

}
.about-heading{
  text-align: center;
  transition: 0.3s;
  color:#B415FF
}
.about-heading:hover{
  color:white;
  
}
.about-info{
  display:flex;
  gap:3em;
  justify-content: center;
  align-items:center;
}
.about-info img{
  border-radius:20px;
  object-fit: cover;
  width:300px;
  height:400px;
  transition:0.3s;
}
.about-info img:hover{
  transform:scale(1.1);
 
}
.about-right{
  display:flex;
  flex-direction: column;
  gap:2em;
  padding:2em 1em;
  
}

.about-content{
 display:flex;
  flex-direction: column;
  gap:20px;
}
.edu{
  display:flex;
  align-items: start;
  gap:1em;
  
}
.education hr{
  margin-top:6px;
  width:155px;
  height:4px;
  border-radius:5px;
  border:none;
  background:linear-gradient(270deg,#DF8908 10%,#B415FF 100%); ;
  margin-bottom:1em;
}
.college{
   display:flex;
  flex-direction: column;
  gap:0.5em;
  justify-content: start;

}

.edu-bar{
  
  
  border-radius:50%;
  width:10px;
  height:10px;
  border:2px solid  white;
  margin-top:6px;
 
}
@media(max-width:1170px){
  .about-section{
  margin-inline:3em;
  gap:3em;
  }
}
@media(max-width:1023px){
  .about-right{
  font-size:0.9em;
  }
  .about-info{
    gap:2em;
  }
}
@media(max-width:944px){
   .about-section{
    padding:1em;
  margin-inline:1em;
  gap:2em;
  }
  .about-content{
    gap:15px;
  }
   .about-right{
  gap:1em;
  }
  .about-info{
    gap:1.2em;
  }
  .about-info img{
    height:380px;
    width:280px;
  }
}
@media(max-width:852px){
   .about-right{
  gap:0.5em;
  }
}
@media(max-width:804px){
   .about-info img{ 
    display:none;
   }
     .about-section{
  padding:2em;
  margin-inline:0.5em;
  padding-inline:0,5em;
  gap:1em;
  }
  .about-right{
     padding-inline:0.5em;
    gap:1.3em;
  }
}

@media(max-width:475px){
  .about-right{
  font-size:0.8em;
 
  }
  .edu-bar{
     width:9px;
  height:8px;
  }
}
@media(max-width:340px){
   .edu-bar{
     width:10px;
  height:8px;
  }
   .about-right{
  padding-inline:0.1em;
 
  }
}