.project-section{
   margin:1.5em 5em;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap:6em;
   margin-top:5em;
}
.project-heading{
  transition:0.3s;

 color:#B415FF;
}
.project-heading:hover{
 
color:white;

}

.projects-container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:2em;
}
.project{
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap:1em;
    padding:1em 1em;
    border:2px solid rgb(205, 201, 201);
  border-radius: 30px;
  transition:0.3s;
  cursor: pointer;

}
.project:hover{
  border:2px solid #B415FF;
  background-image:linear-gradient(45deg,#44032c,#582300);
  transform:scale(1.1);
}
.project img{
  height:200px;
  width:200px;
    border-radius:10px;

  object-fit: cover;
}
.tech-used{
 display: flex;

  gap:10px;
}
.tech-used p{
 
 
border:1px solid rgb(205, 201, 201);
padding:2px 7px;
border-radius:5px;
transition:0.3s;
}
.gotogit{
  display:flex;
  gap:1em;
  justify-content: center;
  align-items: center;


}
.gotogit a{ 
  transition:0.3s;
}
.gotogit a:hover{ 
 color:rgb(139, 134, 134);
}

@media(max-width:1020px){
  .project-section{
    margin-inline:4em;
  }
  .projects-container{
    gap:1em;

  }
}
@media(max-width:955px){
  .project-section{
    margin-inline:1.3em;
  }
  .projects-container{
    gap:2em;
    grid-template-columns: 1fr 1fr ;
  }
  .project{
    gap:1em;
    padding:1em 0.7em;
   
  }
  .project:hover{
    transform:scale(1.1);
  }
}
@media(max-width:804px){
  .project-section{
    margin-inline:0.5em;
  }
  .project{
    padding:0.8em 1.2em;
    gap:0.7em;
    font-size:0.8em;
  }
}
@media(max-width:622px){
  .projects-container{
    gap:2em;
    grid-template-columns: 1fr ;
  }
   .project{
    padding:1em 0.6em;
    gap:0.6em;
    font-size:1em;
  }
    .project img{ 
      width:220px;
      height:220px;
    }
}
@media(max-width:440px){
  .project-section{
    gap:3.5em;
    margin-inline:0.5em;
  }
  .projects-container{
    gap:2em;
  }
    .project{
    padding:0.8em 0.8em;
    gap:0.7em;
    font-size:0.8em;
  }
   .project img{ 
      width:200px;
      height:200px;
    }
}
