.contact{
  margin:1.5em 5em;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap:6em;
   margin-top:5em;

}
.contact-title{
  transition:0.3s;
   color:#B415FF;
}
.contact-title:hover{
  color:white;
}
.contact-container{
  display:flex;
  margin-inline:4em;
  gap:1em;
}
.contact-left{
   display:flex;
   flex-direction: column;
    justify-content:start;
   align-items: start;
   gap:1em;
   width:50%;
   padding-inline:0.5em;
}
.contact-left h1{
  background: linear-gradient(270deg, #DF8908 80% ,#B415FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
.contact-details{
  display:flex;
  flex-direction: column;
  gap:1.8em;
  align-items: start;
}
.contact-info{
  display:flex;
  gap:1em;
   justify-content:center;
   align-items: center;

}


.contact-right{
   display:flex;
   flex-direction: column;
    justify-content:center;
   align-items: start;
     padding-inline:0.5em;
}
form {
   display:flex;
   flex-direction: column;
   gap:0.7em;
   
}
 .contact-right label{
font-size:1em;
font-weight: 500;
}
 .contact-right input{
  padding:1.2em 1.5em;
  width:500px;
  background-color: #32323c;
  border:none;
  outline:none;
 font-size:1em;
 font-family: inherit;
  color:#A0A0A0;
 }
  .contact-right textarea{
    background-color: #32323c;
    color:#A0A0A0;
  border:none;
  outline:none;
   padding:1.2em 1.5em;
 font-size:16px;
  }
  .submitnow{
    background:linear-gradient(267deg,#DA7C25 0.36%,#B923E1 102.06%);
  padding:14px 13px;
  border-radius:22px;
  cursor: pointer;
transition:0.3s;
border:none;
outline:none;
width:120px;
color:white;
font-family: inherit;
  }
    .submitnow:hover{
      transform:scale(1.1);
    }

    .socialmedia{
      display:flex;
      gap:1.5em;
      margin-top:2em;
      justify-content: center;
      align-items: center;
    }
    .social-links{
      color:white;
      transition:0.3s;
    }
    .social-links:hover{
      color:rgb(145, 139, 139);
      /* color:rgb(116, 112, 112) */
    }
    @media(max-width:1215px){

.contact-container{
  
    margin-inline:2em;
}
.contact-left{
  width:65%;
}
    }

     @media(max-width:1152px){
.contact{
    margin-inline:4em;
}
      .contact-container{
    margin-inline:2em;
}
.contact-right input{
  width:400px;
  padding:1.1em 1.4em;
}
     }
       @media(max-width:935px){
              .contact-container{
            flex-direction: column;
            justify-content: center;
            align-items:center;
            gap:2em;
}
.contact-left,.contact-right{
  width:100%;
}
.contact-right input{
  width:500px;
  padding:1.2em 1.5em;
}
       }
        @media(max-width:622px){
          .contact{
            margin-inline:2em;
          }
          .contact-right input{
     width:400px;
     padding:1.1em 1.4em;
}
        }
        @media(max-width:500px){
           .contact{
            margin-inline:1em;
            gap:3em;
            
          }
          .contact-container{
            width:80%;
            justify-content: center;
            align-items:center
          }
          .contact-right{
             justify-content: center;
            align-items:start;
          }
          
            .contact-right input{
  width:320px;
  padding:1.1em 1.4em;
}
        }
         @media(max-width:420px){
         
          .contact-container{
            width:95%;
            
           
          }
          .contact-left,.contact-right{
            font-size:0.8em;
          }
           .contact-right input  {
  width:255px;
  padding:1.1em 1.3em;
}

.contact-details{
  gap:0.7em;
}
.socialmedia{
  margin-top:0.8em;
}
         }