.navbar{
  display:flex;
   margin:1.5em  3em;
   gap:9em;
   justify-content: center;
  align-items: center;
}
.navlinks{
   display:flex;
   list-style: none;
  gap:3em;
  font-size:1.1em;
}
.navlinks p{
  transition:0.3s;
  cursor: pointer;
}
.navlinks p:hover{
  color:#B923E1 ;
}
.navbar .logo{
  height:2.81em;
  width:9.375em;
  border-radius:10px;
  object-fit: cover;
  transition:0.3s;
}
.navbar .logo:hover{
  transform: scale(1.1);
}
.connect{
  background:linear-gradient(267deg,#DA7C25 0.36%,#B923E1 102.06%);
   padding:0.87em 0.81em; 
  border-radius:22px;
  cursor: pointer;
transition:0.3s;
}
.connect:hover{
 transform:scale(1.1);
}
.active{
  color:#B923E1
}
.anchor-links{
  text-decoration: none;
  color:white;
}
.menu-open,.menu-close{
  display:none;
}
.menu-open{
  filter:invert(100%);
}

@media(max-width:1195px){
  .navbar{
  margin:1.5em  1em;
   gap:7em;
  }
  .navlinks{
    gap:2em;
  }
}
@media(max-width:1100px){
   .navbar{
  margin:1.5em  1.5em;
   gap:5em;
  }
  .connect{
   padding:0.8em 0.7em; 
   font-size:0.95em;
}
.navbar .logo{
  height:2.3em;
  width:7em;
}
}
@media(max-width:904px){
  .navbar{
  margin:1.3em  1em;
   gap:3em;
   overflow-x: hidden;
   overflow-y:hidden;
  }
 .navlinks{
    gap:1.2em;
  }
  .connect:hover{
 transform:scale(1.05);
}
.connect a{
  font-size:0.8em;
}
.connect{
  padding:0.6em 0.8em;
}

}
@media(max-width:804px){
  .navbar{
    justify-content: space-between;
    margin-inline:2em;
  
    max-width: 100%;
    
  }
  .connect{
    display:none;
  }
  .menu-open{
    display:block;
    height:2em;
  position:fixed;
    right:30px;
  }
  .menu-close{
    display:block;
    height:1.7em;
  }
  .navlinks{
  flex-direction: column;
  position:fixed;
  align-items:start;
  gap:2em;
  top:0;
  right:-350px;
  background-color: #1F0016;
  width:350px;
  height:100%;
  transition:right 0.5s;
  padding:1em;
  }
}
@media(max-width:450px){
  .navbar .logo{
  height:2em;
  width:6em;
  }
    .navlinks{
       width:310px;
    }

}


