*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  

}
html,body{
  max-width:100%;
  overflow-x: hidden;
}
body{
  
  background-color: #161513;
  color:white;
  font-family: 'Outfit',sans-serif;
  font-weight: 400;

  
}

